
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/1.jpg);
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

main {
    background-color: white;
    border-radius: 15px;
    margin: 50px 40% 30px 10%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

main p {
    font-size: 25px;
}

.menu-button{
    display: none;
}

main img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 100%; 
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #333;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button{
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* Adjust these values to reposition as needed */
.image-container {
    position: absolute; 
    top: 300px;          /* move up/down as required */
    right: 50px;         /* move left/right as required */
    width: 600px;        /* increased width */
    height: 300px;       /* increased height */
    overflow: hidden;    /* ensures image doesn't overflow */
    border-radius: 5%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

